/* mobile-first */
/* @media screen and (min-width:768px) {} */

@media screen and (min-width:768px) {
    .advantages .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .advantages .col-big {
        width: 60%;
    }

    .advantages .col {
        width: 30%;
    }

    .testimonials>.card {
        max-height: 5rem;
    }

    .benefits {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .benefits .card {
        width: 45%;
        margin: 0.5rem;
    }

    .about-us {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .about-us>div {
        width: 50%;
    }
}

@media screen and (max-width:1139px) {
    header ul li {
        display: none;
    }

}

@media screen and (min-width:1140px) {
    header .fa-bars {
        display: none;
    }

    header ul {
        display: flex;
    }

    .strategic {
        flex-wrap: wrap;
    }

    .benefits .card {
        width: 30%;
    }

    .about-us .card {
        width: 30%;
    }
}