/* mobile-first */

@media screen and (min-width:768px) {

    .container {
        max-width: 735px;
    }


    #advantages .row {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    #advantages .col-big {
        width: calc(100% / 3 * 2 - 1rem);

    }

    #advantages .col {
        width: calc(100% / 3 - 1rem);

    }

    #advantages .row [class^="col"] {

        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #testimonial>.card {
        flex-direction: row;
    }

    #features .card-deck {
        flex-direction: row;
        flex-wrap: wrap;

    }

    #features .card {
        width: 45%;
        margin: 0.5rem;
    }

    #about-us {
        flex-direction: row;
        flex-wrap: wrap;

    }

    #about-us div {
        width: 60%;
    }

    #about-us .card {
        width: 40%;
    }

    #start-now .container {
        max-width: 550px;
    }

    .container-footer {
        max-width: 550px;
    }
}


/* @media screen and (min-width:992px) {
    .container {
        max-width: 975px;
    }
} */

@media screen and (min-width:1200px) {

    .container {
        width: 1140px;
    }

    header .fa-bars {
        display: none;
    }

    header ul {
        display: flex;
    }

    header ul li {
        display: inline-block;
    }

    #advantages .col-big {
        flex-direction: row;
    }

    #advantages .col-big>div {
        width: 50%;
    }

    #planning .strategic-planning {
        flex-direction: row;
    }


    #planning .girl-pc {
        width: 100%;
    }

    #planning .card {
        width: 100%;
        align-self: flex-end;
        margin-left: 2rem;
    }

    #features .card {
        width: 30%;
    }

    #about-us .card {
        width: 40%;
    }
}