/* mobile-first */

@media screen and (min-width:768px) {

    .container {
        max-width: 735px;
    }


    .advantages .row {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .advantages .col-big {
        width: calc(100% / 3 * 2 - 1rem);

    }

    .advantages .col {
        width: calc(100% / 3 - 1rem);

    }

    .advantages .row [class^="col"] {

        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #testimonial>.card {
        max-height: 5rem;
    }

    #features {
        flex-direction: row;
        flex-wrap: wrap;

    }

    #features .card {
        width: 45%;
        margin: 0.5rem;
    }

    #about-us {
        flex-direction: row;
        flex-wrap: wrap;

    }

    #about-us>div {
        width: 50%;
    }
}


@media screen and (min-width:992px) {
    .container {
        max-width: 975px;
    }
}

@media screen and (min-width:1200px) {

    .container {
        max-width: 1140px;
    }

    header .fa-bars {
        display: none;
    }

    header ul {
        display: flex;
    }

    header ul li {
        display: inline-block;
    }

    .advantages .col-big {
        flex-direction: row;
    }

    .advantages .col-big>div {
        width: 50%;
    }

    #planning {
        flex-wrap: wrap;
    }

    #features .card {
        width: 30%;
    }

    #about-us .card {
        width: 30%;
    }
}