/* reset */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

/*  generics */

section {
    margin-bottom: 2.5rem;
    padding: 1rem;
}

.container {
    max-width: 1040px;
}

/* utils */

.d-flex {
    display: flex;
}

.debug div {
    border: 1px dashed black;
    min-height: 3.5rem;
}

/* header */

header {
    min-height: 3rem;
    min-width: 100%;
    background-color: #0084FD;

    line-height: 3rem;
    margin-bottom: 2.5rem;

    position: fixed;
    z-index: 1;
}

header>div {
    justify-content: space-between;
}

.advantages {
    padding-top: 5rem;
}

/* main */


.strategic,
.benefits,
.get-started {
    background-color: #9792E4;
}

/* section advantages */

.row {
    flex-direction: column;
    justify-content: space-around;
    height: 25rem;
}

.row,
.col-big,
.col {
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.col-big {
    height: 30%;
}

.col {
    height: 15%;
}

/* section strategic */

.strategic {
    flex-direction: column;

}

.strategic>div {
    width: 100%;
}

.strategic .card {
    border-radius: 1rem;
}

/* section testimonial */

.testimonials {
    flex-direction: column;
    align-content: center;
}

.testimonials>div {
    width: 100%;
}

.testimonials .card {
    border-radius: 1rem;
    height: 12rem;
}

/*  benefits section */

.benefits {
    flex-direction: column;
}

.benefits>div {
    width: 100%;
}

.benefits .card {
    border-radius: 0.8rem;
    height: 5rem;
    margin: 0.5rem;
}

/* about-us section */

.about-us {
    flex-direction: column;
}

.about-us>div {
    width: 100%;
}

/* get-started section */