/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  generics */
body {
    font-family: 'PT Sans', sans-serif;
    padding-top: 6rem;
}

.container {
    max-width: 540px;
    margin: 0 auto;
}

section {
    padding: 1rem 1rem 2.5rem 1rem;
    line-height: 1.5rem;
}

/* utils */

.d-flex {
    display: flex;
}

/* header */

header {
    width: 100%;
    background-color: #0084FD;

    padding: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 00.4rem;
    margin: 00.4rem;
    color: #fff;
    cursor: pointer;
}

header .btn {
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
}

header img {
    vertical-align: middle;
}


header ul li {
    display: none;
}

.ordering-head {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

/* main */


#planning,
#features,
#start-now {
    background-color: #9792E4;
}

/* section advantages */

#advantages .row {
    flex-direction: column;
    align-items: center;
}

#advantages .row [class^="col"] {
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    background-color: #B5DDFF;
    padding: 1rem
}

#advantages .col-big {
    flex-direction: column;
    text-align: justify;
}


#advantages .half-up>* {
    margin: 1rem 0;
}

#advantages .half-down {
    text-align: center;
}

#advantages .col {
    text-align: center;
    line-height: 2rem;
}

#advantages .fa-solid {
    color: #0084FD;
}

#advantages h3 {
    color: #0084FD;
}

#advantages p {
    color: #5A6E7F;
}

#advantages .btn {
    background-color: #0084FD;
    color: #fff;
    border-radius: 1.5rem;
    display: block;
    width: 55%;
    text-align: center;

}

#advantages img {
    max-width: 60%;
}



/* section strategic */

#planning .strategic-planning {
    flex-direction: column;
    color: #fff;

}

#planning h2 {
    font-size: 2.5rem;
    margin: 2.5rem 0;
}

#planning p {
    margin: 1rem 0;
}

#planning .girl-pc {
    width: 100%;
}

#planning .man-pc {
    width: 100%;
}

#planning .card {
    border-radius: 1rem;
    background-color: #fff;
    color: #000;
    text-align: center;
}

#planning .card p {
    font-style: italic;
}

#planning .btn {
    border-radius: 50%;
    background-color: #9792E4;
    color: #000;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 1rem;
}

/* section testimonial */

#testimonial {
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#testimonial .intro>* {
    margin: 1.5rem 0;
}

#testimonal h3 {
    color: #9792E4;
}

#testimonial img {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    margin: 1.5rem;
}

#testimonial .card {
    flex-direction: column;
    align-items: center;

    background-color: #9792E4;
    color: #fff;

    border-radius: 1rem;

    margin: 1.5rem 0;
    padding: 1rem;
}

#testimonial .name {
    margin-top: 1.5rem;
}

/*  features benefits section */

#features .card-deck {
    flex-direction: column;
    color: white;
    text-align: center;
}

#features .title-feature {
    min-width: 100%;
    font-size: 2.5rem;
    padding: 2.3rem;

}

#features .card {
    border-radius: 0.8rem;
    margin: 0.5rem;
    padding: 1.2rem;

    background-color: #fff;
    color: #9792E4;

    text-align: justify;
}

#features .number {
    font-size: 2.5rem;
    display: block;
    margin: 1.5rem 0;
}

#features .card p {
    margin: 0.8rem 0;
}

#features .btn {
    background-color: #9792E4;
    border-radius: 1rem;
    padding: 0.4rem 1.4rem;
    text-align: center;
    display: inline-block;
    width: 40%;
}

/* about-us section */

#about-us {
    flex-direction: column;
    text-align: justify;
}

#about-us .intro>* {
    padding: 2.5rem 0;
}

#about-us h3 {
    color: #9792E4;
    font-size: 3.3rem;
}

#about-us img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

#about-us .positioning-quotes {
    position: absolute;
    top: 0;
    right: 0;
}

#about-us .card {
    padding: 2rem;
    position: relative;
}

#about-us .card p {
    padding: 2rem 0;
}

#about-us .fa-quote-left {
    color: #9792E4;
    font-size: 5.5rem;
}


#about-us .description {
    color: #9792E4;
    font-weight: bold;
    display: block;
    font-size: larger;
}

/* get-started section */

#start-now .get-started {
    text-align: center;
    color: #fff;
}

#start-now .get-started>* {
    margin: 1.2rem 0;
}

#start-now .title-section {
    color: #D5D4F4;
    display: block;

}

#start-now .fa-circle {
    font-size: 0.3rem;
    vertical-align: middle;
}

#start-now .for-free {
    color: #FDC15F;
    font-size: 2.5rem;
}

#start-now .btn {
    background-color: #fff;
    color: #9792E4;

    width: 45%;
    padding: 1rem;

    display: block;
    border-radius: 2.5rem;
    margin: auto;
}

#start-now .link {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

/* footer */

footer {
    background-color: #333333;
    color: #fff;

    text-align: center;
}

.container-footer {
    padding: 0.5rem 2rem;
    max-width: 540px;
    margin: 0 auto;

}

footer a {
    color: #9792E4;
    text-decoration: underline;
}

.container-footer div {
    margin: 4.5rem auto;
}